<launch>

    <!-- what config we are going to run -->
    <arg name="config"      default="euroc_mav" /> 
    <arg name="config_path" default="$(find ov_core)/../config/$(arg config)/estimator_config.yaml" />

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="2" />
    <arg name="use_stereo"  default="true" />
    <arg name="bag_start"   default="0" /> 
    <arg name="bag_rate"    default="1" />
    <arg name="dataset"     default="V1_01_easy" /> 
    
    <!-- Set to 'true' to auto-play the bag. If 'false', you must 'rosbag play' in another terminal -->
    <arg name="dobag"       default="true" /> 
    
    <!-- Path to the .bag file (Sensor Data) -->
    <arg name="bag"         default="/home/he/datasets/ROSbag/$(arg dataset).bag" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="false" />
    <arg name="path_est"    default="$(find ov_data)/trajectory_save/traj_estimate_$(arg dataset).txt" />

    <!-- Path to the ground truth .txt file (GT Pose) -->
    <arg name="dolivetraj"  default="true" />
    <arg name="path_gt"     default="$(find ov_data)/$(arg config)/$(arg dataset).txt" />

    <!-- path viz of aligned gt -->
    <group if="$(arg dolivetraj)">
        <!-- Change output to log to suppress spam, as errors are now printed in HNOManager -->
        <node name="live_align_trajectory" pkg="ov_eval" type="live_align_trajectory" output="log" clear_params="true">
            <param name="alignment_type" type="str" value="posyawsingle" />
            <param name="path_gt"        type="str" value="$(arg path_gt)" />
            <remap from="/ov_msckf/pathimu" to="/run_subscribe_hno/path" />
            <remap from="/ov_msckf/pathgt" to="/run_subscribe_hno/path_gt" />
        </node>
    </group>

    <!-- MASTER NODE! -->
    <node name="run_subscribe_hno" pkg="ov_hno" type="run_subscribe_hno" output="screen" clear_params="true" required="true">

        <!-- master configuration object -->
        <param name="config_path"            type="string" value="$(arg config_path)" />
        <param name="path_gt"                type="string" value="$(arg path_gt)" />

        <!-- [Cheat Mode] true: mapping with GT pose; false: mapping with estimated pose -->
        <param name="use_gt_mapping" type="bool"   value="false" />
        
        <!-- topics (assuming Euroc/bag names) -->
        <param name="topic_imu" value="/imu0" />
        <param name="topic_cam0" value="/cam0/image_raw" />
        <param name="topic_cam1" value="/cam1/image_raw" />
        <param name="num_cams" value="$(arg max_cameras)" />
        
    </node>

    <!-- play the dataset -->
    <group if="$(arg dobag)">
        <!-- Removed required="true" so rviz stays open after bag finishes -->
        <node pkg="rosbag" type="play" name="rosbag" args="-d 1 -r $(arg bag_rate) -s $(arg bag_start) $(arg bag)"/>
    </group>

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/run_subscribe_hno/pose" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
    </group>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ov_hno)/launch/hno.rviz" />
</launch>
